/* ========== import fonts ========== */
/* Libre Caslon */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/* ornament font */
@import url("https://use.typekit.net/ssn3dyb.css");
/* example fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Pirata+One&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;700&display=swap');


/* ========== variables ========== */
:root {
    /* color */
    --beige-bg: #F8EFE2;
    --black-text: black;
    --black-bg: black;
    --white-text: white;
}

/* ========== global settings ========== */

/* colors */
body
{
    background-color: var(--beige-bg);
}
.blackbox, .blackbg
{
    background-color: var(--black-bg);
    color: var(--white-text);
}
.caption
{
    opacity: 50%;
}

@media print
{
    :root {
        /* color */
        --beige-bg: white;
        --black-text: black;
        --black-bg: white;
        --white-text: black;
    }
    .caption
    {
        opacity: 75%;
    }
}
@media (prefers-contrast: more) 
{
	:root 
    {
        --beige-bg: white;
	}
}

/* global margin */
.content-margin
{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1000px)
{
    .content-margin
    {
        max-width: 1080px;
    }
}
@media print
{
    .content-margin
    {
        max-width: none;
    }
}


/* typefaces */
/* serif */
h2, h3, header, header p,.blackbox p
{
    font-family: 'Libre Caslon Text', serif;
}
/* san-serif */
p, .caption, .blackbox .caption
{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    line-height: 180%;
}

/* global text setting */
em
{
    font-style: italic;
}
sup
{
    vertical-align: super;
    font-size: smaller;
    line-height: 1;
}
u
{
    text-decoration: underline;
}
b
{
    font-weight: 700;
}

/* ========== header ========== */

.header-flexbox
{
    display: flex;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1000px)
{
    .header-flexbox
    {
        height: 830px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (min-height: 830px) and (min-width: 1000px), (min-height: 670px) and (max-width: 1199px)
{
    .header-flexbox
    {    
        height: 100svh;
    }
}

h1
{
    font-size: clamp(96px, 18vw, 200px);
    font-style: italic;
    margin-top: 100px; 
    text-align: center;
}
#h1-decor
{
        height: 0px;
        font-family: "charcuterie-ornaments", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        padding-bottom: 20px;
        text-align: center;
}

@media (min-width: 1000px)
{
    h1
    {
        margin-top: 150px;
        font-size: 200px;
    }
    #h1-decor
    {
        font-size: 150px;
        padding-bottom: 0px;
    }
}

.website
{
    font-size: 12px;
    text-transform: uppercase; 
    text-align: center;
    letter-spacing: .2rem;
    z-index: 10;
    position: relative;
    background-color: var(--beige-bg);
    padding-left: 20px;
    padding-right: 20px;
}
.subhead-mobile
{
    font-size: 32px;
    margin-top: 50px;
    line-height: 150%;
    max-width: 800px;
}
.subhead-desktop
{
    display: none;
    font-size: 48px;
    text-align: center;
    line-height: 150%;
}
@media (min-width: 1000px)
{
    .website, .subhead-desktop
    {
        background-color: var(--beige-bg);
        position: relative;
        z-index: 10;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.date-mobile, .date-desktop
{
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}
.date-desktop
{
    text-align: center;
    margin-bottom: 100px;
    display: none;
}
@media (min-width: 1000px)
{
    .date-mobile, .subhead-mobile
    {
        display: none;
    }
    .date-desktop, .subhead-desktop
    {
        display: block;
    }
}

/* box */
.nospace
{
    position: relative;
    height: 0px;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
}
.box,.box2
{
    position: relative;
    border-style: solid;
    border-width: 0.5px;
    margin-left: 20px;
    margin-right: 20px;
    z-index: 1;
}
.box
{
    top: 50px;
}
.box2{
    bottom: 30px;
}
@media (min-width: 1000px)
{
    .nospace
    {
        max-width: 1400px;
    }
    .box{
        top: 80px;
        border-width: 1px;
        height: 662px;
    }
    .box2{
        display: none;
    }
}
@media (min-width: 1000px) and (min-height: 830px)
{
    .box{
        height: 80svh;
    }
}



/* ========== everything else ========== */

/* basic text setting */
h2
{
    font-size: 56px;
    margin-bottom: -50px; 
    margin-top: 120px;
}
h2:hover
{
    font-style: italic;
}
h3
{
    font-size: 32px;
    font-style: italic;
}
p
{
    font-size: 16px;
}
.blackbox p:nth-child(2)
{
    font-size: 14px;
}
.caption, .blackbox .name, .blackbox .caption
{
    font-size: 14px;
}
.example .example-text
{
    font-size: 48px;
    line-height: 1;
}
@media (min-width: 1000px)
{
    h2
    {font-size: 96px;}
    h3
    {font-size: 48px;}
}
@media print
{
    p
    {font-size: 14px;}
    .caption, .blackbox .name, .blackbox .caption
    {font-size: 10px;}
    .example .example-text
    {font-size: 32px;}
    h2
    {
        margin-bottom: 0; 
        margin-top: 50px;
    }
}

/* paragrpah spacing */
.regular-text p:not(:first-child), .blackbox p:not(:first-child)
{
    margin-top: 20px;
}

/* margin */
h2, main > p, .regular-text > p, .example, .footer
{
    margin-left: 20px;
    margin-right: 20px;
}
@media (min-width: 1000px)
{
    .example
    {
        margin-left: 0;
        margin-right: 0;
        padding-right: 20px;
    }
}
/* flex box */
.container
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
    align-items: stretch;
} 

@media (min-width: 1000px), print
{
    .container
    {
        flex-direction: row;
        align-items: end;
        justify-content: space-between;
        gap: 0px;
    }
    .blackbox, .example
    {
        width: 40%;
    }
    .regular-text
    {
        width: 60%;
    }
    .regular-text p
    {
        padding-right: 10%;
    }

}
@media print
{
    .container
    {
        margin-top: 50px;
    }
    /* .container:nth-child(4)
    {
        align-items: start;
        color:red;
    } */
}

.example
{
    max-width: 400px;
}
@media (min-width: 1000px)
{
    .example
    {
        max-width: none;
    }
}


.container:nth-child(4), .container:nth-child(5), .blackbg .container
{
    align-items: stretch;
}

.blackbg
{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}
@media print
{
    .blackbg
    {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.blackbg .container
{
    margin-top: 20px;
}

.sticky
{
    position: sticky;
    top: 50px;
}
@media (min-width: 1000px)
{
    .bottom-line
    {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding-bottom: 20px;
    }
    .lightbg.bottom-line
    {
        border-bottom-color: var(--black-text);

    }
    .blackbg.bottom-line
    {
        border-bottom-color: var(--white-text);
    }
}


/* side panel */
.blackbox
{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.caption:not(:last-child)
{
    margin-bottom: 20px;
}

@media print
{
    .blackbox
    {
        /* break-inside: avoid; */
        border-radius: 0.5px;
        border-style: solid;
        border-color: rgb(0 0 0 / 25%);
    }
}

/* example text styles */

.caslon
{
    font-family: 'Libre Caslon Text', serif;
}
.unifraktur-cook
{
    font-family: 'UnifrakturCook', cursive;
}
.unifraktur-maguntia
{
    font-family: 'UnifrakturMaguntia', cursive;
}
.pirata-one
{
    font-family: 'Pirata One', serif;

}
.ibm-plex-serif
{
    font-family: 'IBM Plex Serif', serif;

}
.vesper-libre
{
    font-family: 'Vesper Libre', serif;
}
.commissioner
{
    font-family: 'Commissioner', sans-serif;
}

.size32
{
    font-size: 32px;
}
.letterspacing
{
    letter-spacing: 8px;
}

#soap1,#soap2,#soap3, .example .rotate-text
{
    font-weight: 700;
    font-size: 70px;
}
#soap2
{
    transform: skew(-10deg, 0);
}
#soap3
{
    font-style: italic;
}

.rotate
{
    transform: rotate(10deg);
    width: fit-content;
    display: inline-block;
}

@media print
{
    .nobreak
    {
        break-inside: avoid;
    }
    .example .nobreak:not(:first-child)
    {
        margin-top: 20px;
    }
}


/* footer */
.footer
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--black-text);
    max-width: 800px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 100px;
    text-align: center;
}
@media (min-width: 1000px)
{
    .footer
    {
        max-width: 1080px;
    }
}
#footer1
{
    font-family: 'Libre Caslon Text', serif;
    font-size: 32px;
}
#footer2
{
    font-style: italic;
}
#footer3
{

}
#footer-decor
{
    /* height: 0px; */
    font-family: "charcuterie-ornaments", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: -20px;
    /* padding-bottom: 20px; */
    text-align: center;
}
/* todo list 
decoration lines between secitons/examples
style the individual examples */