/* ========== import fonts ========== */
/* Arapey */
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
/* Libre Caslon */
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
/* Noto Sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
/* example fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Pirata+One&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap');

/* ========== variables ========== */
:root {

    /* color */
    --beige: #F8EFE2;
    --black: black;
    --white-text-on-black: white;

}

/* ========== global settings ========== */

/* colors */
body
{
    background-color: var(--beige);
}
.blackbox, .blackbg
{
    background-color: var(--black);
    color: var(--white-text-on-black);
}
.caption
{
    opacity: 50%;
}

/* global margin */
.content-margin
{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.lightbg:first-child
{
    padding-top: 72px;
}

/* typefaces */
/* serif */
h2, h3, header, header p,.blackbox p
{
    font-family: 'Libre Caslon Text', serif;
}
/* san-serif */
p, .caption, .blackbox .caption
{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    line-height: 180%;
}

/* global text setting */
em
{
    font-style: italic;
}
sup
{
    vertical-align: super;
    font-size: smaller;
    line-height: 1;
}

/* ========== header ========== */

.header-flexbox
{
    display: flex;
    padding: 20px;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    font-size: clamp(96px, 18vw, 200px);
    font-style: italic;
}
@media (min-width: 1200px)
{
    h1
    {
        font-size: 200px;
        text-align: center;
        margin-top: 72px;
    }
}
.website
{
    font-size: 12px;
    text-transform: uppercase; 
    text-align: center;
    letter-spacing: .2rem;
    background-color: #F8EFE2;
    position: relative;
    z-index: 10;
    padding-left: 20px;
    padding-right: 20px;
}
.subhead-mobile
{
    font-size: 32px;
    margin-top: 67px;
    line-height: 150%;
    max-width: 800px;
}
.subhead-desktop
{
    display: none;
    font-size: 48px;
    text-align: center;
    line-height: 150%;
    background-color: #F8EFE2;
    position: relative;
    z-index: 10;
    padding-left: 20px;
    padding-right: 20px;
}

.date-mobile, .date-desktop
{
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
}
.date-desktop
{
    text-align: center;
    margin-bottom: 100px;
    display: none;
}
@media (min-width: 1200px)
{
    .date-mobile, .subhead-mobile
    {
        display: none;
    }
    .date-desktop, .subhead-desktop
    {
        display: block;
    }
}
@media (min-width: 1200px) and (min-height: 650px)
{
    .nospace
    {
        position: relative;
        height: 0px;
        z-index: 1;
    }
    .box{
        position: relative;
        top: 43px;
        border-style: solid;
        border-width: 1px;
        height: 85vh;
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
    }
}


/* ========== everything else ========== */

/* basic text setting */
h2
{
    font-size: 56px;
    margin-bottom: -50px; 
}
h2.not-first
{
    margin-top: 120px;
}
h3
{
    font-size: 32px;
    font-style: italic;
}
p
{
    font-size: 16px;
}
.caption, .name
{
    font-size: 14px;
}
@media (min-width: 1000px)
{
    h2
    {
        font-size: 96px;
    }
    h3
    {
        font-size: 48px;
    }
}

/* paragrpah spacing */
.regular-text p:not(:first-child), .blackbox p:not(:first-child)
{
    margin-top: 20px;
}

/* margin */
h2, main > p, .regular-text > p, .example, .footer
{
    margin-left: 20px;
    margin-right: 20px;
}
@media (min-width: 1000px)
{
    .example
    {
        margin-left: 0;
        margin-right: 0;
    }
}
/* flex box */
.container
{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
    align-items: stretch;
} 

@media (min-width: 1000px)
{
    .container
    {
        flex-direction: row;
        /* gap: 50px; */
        align-items: end;
        justify-content: space-between;
    }
    .blackbox, .example
    {
        /* flex-shrink: 0; */
        width: 40%;
    }
    .regular-text
    {
        width: 50%;
    }
}

.example
{
    max-width: 400px;
}
@media (min-width: 1000px)
{
    .example
    {
        max-width: none;
    }
}

.container:nth-child(4), .container:nth-child(5), .blackbg .container
{
    align-items: stretch;
}
.blackbg
{
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.blackbg .container
{
    margin-top: 20px;
}

.sticky
{
    position: sticky;
    top: 50px;
}

/* side panel */
.blackbox
{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.blackbox p
{
    font-size: 14px;
}
.example .example-text
{
    font-size: 48px;
    line-height: normal;
}
.caption:not(:last-child)
{
    margin-bottom: 20px;
}

/* example text styles */

.caslon
{
    font-family: 'Libre Caslon Text', serif;
}
.unifraktur-cook
{
    font-family: 'UnifrakturCook', cursive;
}
.unifraktur-maguntia
{
    font-family: 'UnifrakturMaguntia', cursive;
}
.pirata-one
{
    font-family: 'Pirata One', serif;

}
.ibm-plex-serif
{
    font-family: 'IBM Plex Serif', serif;

}


#soap1
{
}
#soap2
{
    transform: skew(-12deg, 0);
}
#soap3
{
    font-style: italic;
}


/* footer */

.blackbg:last-child 
{
    margin-bottom: 0px;
}
#footer1
{
    font-family: 'Libre Caslon Text', serif;
    font-size: 32px;
}
#footer2
{
    font-style: italic;
}
#footer3
{

}

/* todo list 
no break space
landing page more top bottom margin
decoration lines between secitons/examples
style the individual examples 
add custom ornament font*/